{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style0.css' %}">
    <title>DIU Event Organizer</title>
</head>
<body>
    <div class="bcrnd">
        <div class="whtbc">
            <div class="title">
                <p><span>DIU_</span>Event Organizer</p>
            </div>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
            <div class="inputs">
                <input type="email" name="email" placeholder="Enter your email"><br>
                <input type="password" name="password" placeholder="Enter your password" id="password">
            </div>

            
            <button class="loginbt" type="submit">
                Login
            </button>
          
            </form>
            <p id="para"></p>
            <div class="form-group-inline">
                <label
                ><input type="checkbox" id="show-password" name="show-password" onclick="showPass()"/>
                Show Password</label
                >
            </div>
            <br>
            <p class="register">
                Don't have an account? <a href="{% url 'register' %}">Register</a>
            </p>
        </div>
    </div>
</body>
    <script src="{% static 'js/user_login_signup.js' %} "></script>
</html>
